/* .container {
    width: 100px;
    height: 100px;
    background-color: violet;
    display: flex;
    gap: 10px;
}; */
/* .tog {
    display: none;
}
.item-red {
    background-color: red;
    width: 100px;
    height: 100px;
}
.item-green {
    background-color: green;
    width: 100px;
    height: 100px;
}
.item-black {
    background-color: black;
    width: 100px;
    height: 100px;
} */

/* .container-1 {
display: flex;
margin: 100px 50px 50px 50px;
}

.content {
    width: 156px;
    border: 1px solid black;
    margin: 0 auto;
}

.item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle; 
    transition: background .1s;
}; */

/* .tags {
    display: flex;
    gap: 10px;
    list-style: none;
   outline: 1px solid tomato;
}
.tags__btn--active {
color: #fff;
background-color: blue;
} */

/* .color-swatch {
    width: 100px;
    height: 100px;
} */
ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
li {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
img {
    width: 200px;
    height: 150px;

}
h2 {
    padding: 0px;
    margin: 0px;
}